
* {
    
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
}
img {
    vertical-align: middle;
}



.button{
border-radius: 10px;
background-color: cornflowerblue;
color: rgb(255, 255, 255);
border: none;
padding: 15px 32px;
text-align: center;
font-size: 16px;
transition-duration: 0.4s;
float:right;
align-self: center;
position: sticky; 
top: 0;
}
.button:hover{
    background-color: rgb(59, 121, 236);
    color: rgb(255, 255, 255);


}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }


  .textsl {
    color: #f4f4f4;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /*                                                                =============================================                                    */
.top {
    background-color: #000000;
    overflow: hidden;
  }
  
  .top a {
    float: left;
    color: #f4f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease;
  }
  
  .top a:hover {
    background-color: #cf7500;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .top a.activan {
    background-color: #cf7500;
    color: white;
  }

  /*                                                    =============================================================                        */
  .slajd {
    max-width: 10000px;
    position: relative;
    margin: auto;
    background-color: #f0a500;
    border:#f0a500;
    border-width: 5px;
    border-style: double;
  }
  .slikaslajda {
    display: none;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f0a500;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #cf7500;
  }
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  }