
* {
    
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
}
img {
    vertical-align: middle;
}



  .textsl {
    color: #f4f4f4;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /*                                                                =============================================                                    */
.top {
    background-color: #000000;
    overflow: hidden;
  }
  
  .top a {
    float: left;
    color: #f4f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease;
  }
  
  .top a:hover {
    background-color: #cf7500;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .top a.activan {
    background-color: #cf7500;
    color: white;
  }

  /*                                                    =============================================================                        */
  .slajd {
    max-width: 10000px;
    position: relative;
    margin: auto;
    background-color: #f0a500;
    border:#f0a500;
    border-width: 5px;
    border-style: double;
  }
  .slikaslajda {
    display: none;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f0a500;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #cf7500;
  }


  /* SIGN UP SIGN UP                           ============================================================                            */


  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f4f4f4;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #f4f4f4;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f4f4;
    margin-bottom: 25px;
  }
  
  button {
    background-color: #f0a500;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  

  .signupbtn {
    float: center;
    width: 50%;
  }
  
  .signup {
    padding: 16px;
  }
  
 
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }




  .footer {
  position:fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  }
  p {
  display: block;
  background:#f0a500
  }
