.button{
border-radius: 10px;
background-color: cornflowerblue;
color: rgb(255, 255, 255);
border: none;
padding: 15px 32px;
text-align: center;
font-size: 16px;
transition-duration: 0.4s;
float:right;
align-self: center;
position: sticky; 
top: 0;
}
.button:hover{
    background-color: rgb(59, 121, 236);
    color: rgb(255, 255, 255);


}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  